*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FDFEFE;
}

.header-index{
    background: rgb(1,1,1);
    background: linear-gradient(90deg, black(1,1,1,1) 0%, rgba(22,23,24,1) 35%, rgba(45,47,48,1) 62%, rgba(82,85,87,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-a{
    width: 20%;
    height: auto;
}

.logo-img{
    width: 40%;
}

.li-index{
    display: flex;
    width: 30%;
    margin-right: 1%;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: #FDFEFE;
}

.ul-index-1{
    list-style: none;
    text-decoration: none;
    color: #FDFEFE;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    left: 240%;
    top: 0%;
    cursor: pointer;
}

.ul-index-2{
    list-style: none;
    text-decoration: none;
    color: #FDFEFE;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    left: 240%;
    top: 0%;
    cursor: pointer;
}

.ul-index-3{
    list-style: none;
    text-decoration: none;
    color: #FDFEFE;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    left: 160%;
    top: 0%;
    cursor: pointer;
}

.a-cart{
    cursor: pointer;
}

.input-index{
    width: 30%;
    height: 35px;
    border-radius: 5px;
    border: 0px;
    outline: none;
    font-size: 20px;
    justify-self: center;
    margin-right: 25%;
}

.glass-img{
    width: 1.5%;
    position: relative;
    right: 19%;
    display: none;
}

.main-index{
    margin-top: 1%;
}

h2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.main-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 60%;
    border-radius: 10px;
}

.article-card{
    background-color: #FDFEFE;
    width: 20%;
    margin-left: 2%;
    border: 2px solid rgb(7,8,8);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 13px 11px 10px 3px rgba(0,0,0,0.83);
    -webkit-box-shadow: 13px 11px 10px 3px rgba(0,0,0,0.83);
    -moz-box-shadow: 13px 11px 10px 3px rgba(0,0,0,0.83);
}

.h2-titulo{
    font-size: 20px;
    margin: 3px 0 5px 0;
}

.btn{
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 2px 1px 5px rgb(7,8,8);
    -moz-box-shadow: 2px 1px 5px rgb(7,8,8);
    box-shadow: 2px 1px 5px rgb(7,8,8);
    font-family: Arial;
    color: #FDFEFE;
    font-size: 15px;
    background: rgb(7,8,8);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin: 5px;
}
  
.btn:hover{
    background: rgba(43,45,47,1);
    text-decoration: none;
    cursor: pointer;
}

.img-footer{
    width: 2.5%;
    color: #FDFEFE;
    padding: 15px 5px 10px 5px;
}

.footer-index{
    background-color: rgb(7,8,8);
    width: 100%;
    margin-top: 1%;
    margin-bottom: 0;
    height: 60px;
    bottom: 0%;
}

.section-footer-1{
    display: flex;
    justify-content: space-around;
    width: 70%;
    position: absolute;
}

.h2-footer-1{
    color: #FDFEFE;
    text-align: center;
    position: absolute;
    margin: 15px 0px 0px 0px;
    left: 1%;
}

.h2-footer-2{
    color: #FDFEFE;
    color: #FDFEFE;
    position: absolute;
    font-size: 15px;
    margin: 20px 0px 0px 0px;
    left: 63%;
}

.section-footer-2{
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px 0px 0px;
    align-items: center;
}

.a-cart{
    width: 3%;
    position: relative;
}

.cart-index{
    width: 70%;
    position: relative;
    top: 0%;
    left: 0%;
}

.h1-index{
    width: 90%;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 5%;
}

.p-cart{
    position: absolute;
    top: 4%;
    left: 25%;
    text-align: center;
    color: black;
    font-size: 13px;
    font-weight:bold;
}

.article-card-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1%;
}

.imagen-cart{
    width: 10%;
    margin: 5px;
}

.h2-titulo-cart{
    width: 70%;

}

.main-section2{
    width: 100%;
}

.total-section{
    text-align: center;
    font-size: 25px;
}

@media (min-width: 1600px) {
    .p-cart{
        position: absolute;
        top: 7%;
        left: 27%;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight:bold;
    }
}